.container {
    width:100%;
    display: flex;
}

.child {
    height: 100px;
    width: 100px;
    border: 1px solid;
}

.container .child:nth-child(even) {
    background-color: green;
    flex : 1;
}

.container .child:nth-child(odd) {
    background-color: orange;
    flex : 3;
}

.buttons { 
    margin-top: 50px;
}
 
.enabled-btn{
    background-color: #712FFF;
    color: white;
    border : 0;
    padding: 10px 24px;
    border-radius: 100px;
}

.enabled-btn:hover {
    background-color: #712FFF;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .15);
    cursor: pointer;
}

.enabled-btn:active {
    background-color: plum;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .15);
    cursor: pointer;
    transform:scale3d(1) ;
}
.disabled-btn:disabled{
    background-color: black;
    color: gray;
    border : 0;
    padding: 10px 24px;
    border-radius: 100px;
}
